body {

    background-image: url("http://3.bp.blogspot.com/-4GXsglWmQk4/TzAYv7BfUrI/AAAAAAAAVlc/WSMzCKVBmp8/s1600/tumblr_lwyzaafvrd1r85toqo1_500.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    color: #51AAA5;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
}

hr {
    margin-bottom: 0px;
}

ul {
    list-style-type: circle;
}

nav {
    background-color: white !important;
}

figure img{
    float: left;
    width: 350px;
    padding-right: 15px;
    margin-left: -13px;
    margin-top: 20px;
}

img {
    width: 350px;
    padding-right: 10px;
    margin-left: 20px;
    margin-top: 30px;
}

#portfolio-gallery {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px
}

nav a.navbar-brand, button.btn{
    background-color: #51AAA5;
    color: white !important;
    font-family: 'Noto Serif', serif;
}


nav a.navbar-brand {
    font-size: xx-large;
    font-weight: bold;
}

form, section {
    background-color: white;
    margin-top: 80px;
    margin-bottom: 100px;  
    padding-top: 20px;
    padding-bottom: 20px;
}


.btn-xl {
    font-size: large;
    border-radius: 0 !important;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width: 125px;
    height: 65px;
}

.form-group {
    margin-left: 20px;
    margin-right: 80px;
}

.form-control {
    border-radius: 0 !important;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer.card-footer {
    padding: 10px 0px 10px 0px;
    background-color: #666666;
    border-top-width: 8px;
    border-top-style: solid;
    border-top-color: #51AAA5;
    text-align: center;
    margin-bottom: 0;

}